.seckill-layer {
    height: 100%;
    position: relative;
}
.seckill-countdown {
    position: relative;
    float: left;
    width: 190px;
    height: 100%;
    color: #fff;
    background-color: #e83632;
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/img/4a15d8883775742e3efbb850ae14def7.png);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}
.seckill-countdown a {
    display: block;
}
.seckill-countdown .seckill-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 31px;
    color: #fff;
}
.seckill-countdown .countdown-desc {
    margin-top: 90px;
    font-size: 14px;
    text-align: center;
    color: #fff;
}
.seckill-countdown .countdown-main .timmer__unit {
    position: relative;
    /* float: left; */
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 20px;
    color: white;
    font-size: 20px;
}
.timmer {
    display: block;
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
}
.seckill-countdown .countdown-main .timmer__unit.timmer__unit--second {
    margin-right: 0;
}
.seckill-countdown .countdown-main .timmer__unit::after {
    content: ":";
    color: #fff;
    font-size: 20px;
    position: absolute;
    right: -10px;
}
.seckill-countdown .countdown-main .timmer__unit.timmer__unit--second::after {
    content: "";
}

.seckill-layer .slider-wrapper{
    width: 800px;
    height: 260px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
}
.slider-wrapper .focus-item_seckill{
    height: 260px;

}
.slider-wrapper .focus-item_seckill a{
    width: 200px;
    float: left;
    height: 260px;
}
.focus-item_seckill a .lazyimg{
    width: 140px;
    height: 140px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.focus-item_seckill a .lazyimg img{
    width:100%;
    height:100%
}

.focus-item_seckill a h6{
    width: 160px;
    height: 18px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.focus-item_seckill a .seckill-item__price{
    width: 160px;
    height: 24px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e1251b;
    box-sizing: border-box;
    line-height: 24px;
    overflow: hidden;
    background-color: #e1251b
}

.focus-item_seckill a .seckill-item__price .price-miaosha{
    width: 92px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    float: left;
}
.price-miaosha::before{
    content: " ";
    width: 0;
    height: 0;
    border-color: transparent white transparent transparent;
    border-style: solid;
    border-width: 22px 8px 0 0;
    position: absolute;
    top: 0;
    left: 84px;
}
 i{
    font-size: 12px;
    font-weight: 400;
    padding-right: 2px;
    font-style: normal;
}

.price-origin{
    height: 100%;
    width: 66px;
    float: right;
    background: #fff;
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 22px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: line-through;
    vertical-align: top;
}


.slider-end{
    position: absolute;
    width: 190px;
    height: 260px;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
    right:0;
    padding-left: 10px;
}

.slider-end a{
    float: left;
    width: 190px;
    height: 260px;
}
.slider-end .item-image{
    width: 120px;
    height:120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.slider-end .item-image img{
    width: 100%;
    height: 100%;
}
.slider-end .item-info{
    width: 180px;
    height: 90px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.slider-end .item-info p{
    margin-top: 5px;
}
.slider-end .item-info .item-info-title{
    color:rgb(102, 102, 102)
}
.slider-end .item-info .item-info-promo{
    color: rgb(51, 51, 51);
    font-weight: 700;
}
.slider-end .item-info .item-info-action{
    color: rgb(225, 37, 27);
    width: 82px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    line-height: 22px;
    font-weight: 700;
    padding-left: 4px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 37, 27);
    border-image: initial;
    transition: background-color 0.2s ease 0s;
}